<h1>New Post</h1>
<%= form_for [@author, @post] do |f|  %>
<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :category %>
<%= f.text_field :category %>
</p>
<p>
<%= f.label :body %>
<%= f.text_field :body %>
</p>

<%= f.submit %>
<% end %>
<!-- Home Button -->
<p>
<%= link_to "Home", authors_path %>
</p>